<!DOCTYPE html>
<html lang="en">
<header>
  <% include ../partials/header %>
</header>

<body>
  <div class="content">
    <h3 class="title">SELLING TOYS</h3>
    <div class="btn-add">
      <a href="/products/add">ADD PRODUCT</a>
    </div>
    <table cellpadding="0" cellspacing="0">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>

      <% data.forEach(function(item){ %>
        <tr>
          <td>
            <%= item.id %>
          </td>
          <td>
            <%= item.name %>
          </td>
          <td>
            <%= item.description %>
          </td>
          <td>
            <%= item.price %>
          </td>
          <td>
            <%= item.quantity %>
          </td>
        </tr>
        <% }); %>
    </table>
  </div>
</body>

</html>